<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
</head>
<body>
	<h1>Prośba o zwrot!</h1>
	<p>{{ name }}! <br>Czy masz jeszcze mój przedmiot? Chodzi mi o “{{item}}”. Pamiętaj proszę, że
	umawialiśmy się, że oddasz mi ją {{ return_date }}. <br>Będę bardzo wdzięczny jeśli
	oddasz mi ją w ustalonym terminie lub szybciej!</p>
</body>
</html>